@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Taviraj", serif;
}

.shadow-jutsu {
  box-shadow: 2px 1px 23px 0px rgba(84, 84, 84, 0.77);
  -webkit-box-shadow: 2px 1px 23px 0px rgba(84, 84, 84, 0.77);
  -moz-box-shadow: 2px 1px 23px 0px rgba(84, 84, 84, 0.77);
}

.left-header-admin {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  min-height: 100vh;
  background-color: blueviolet;
}

.monthly-home {
  position: relative;
  top: -30px;
}
.monthly-height {
  height: 52vh;
  transition: 300ms;
}

.add-to-cart {
  opacity: 0;
}

.monthly-height:hover .add-to-cart {
  opacity: 1;
  /* transition: 500ms; */
}

.monthly-height:hover {
  height: 60vh;
  transition: 300ms;
}

/* a {
  color: inherit;
  text-decoration: none;
} */
